body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 40px;
}

h1 {
    color: #333;
}

form {
    background: white;
    padding: 2.5rem;
    border-radius: .75rem;
    max-width: 400px;
}

textarea {
    resize: none;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

input,
textarea {
    width: 100%;
    margin-bottom: .725rem;
    padding: .5rem;
    border-width: .1rem;
    border-style: solid;
    border-color: #ccc;
    border-radius: .5rem;

    transition:
        border-color 0.2s ease,
        box-shadow 0.2s ease;
}

input:hover,
textarea:hover {
    border-color: #aaa;
}

input:focus,
textarea:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.4);
}

button {
    background: #007bff;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.15s ease, box-shadow 0.15s ease;
}

button:hover {
    transform: translateY(-2px);
    background: #005bff;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

button:active {
    transform: translateY(0);
    background: #003bff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


.mensaje {
    background: white;
    margin-top: 10px;
    padding: 10px;
    border-radius: 6px;
}