<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <title>omgg</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>

<body>
    <h1>Form</h1>

    <form action="/send" method="POST">
        <input type="text" name="name" placeholder="Name" required>
        <textarea wrap="soft" name="message" placeholder="Your message" required></textarea>
        <button type="submit">Submit</button>
    </form>

    <h2>Sent messages</h2>

    {% for m in messages %}
    <div class="message">
        <strong>{{ m.name }}:</strong>
        <p>{{ m.message }}</p>
    </div>
    {% endfor %}

</body>

</html>